<mat-toolbar  [style.background-color]="logoBackground"  id="top-nav">

<button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()" id="toggle_menu">
        <mat-icon aria-label="Open side menu">menu</mat-icon>
</button>

    <div class="nav-brand" [style.background-color]="logoBackground">
        <a href="./"><img src="./assets/logo/credit_suisse.png" class="app-logo"></a>
    </div>
    <h1 class="page_title">{{pageTitle}}</h1>
    <span class="nav-spacer"></span>
    <span class="top-nav-info">{{username}}</span>

     <button mat-icon-button [matMenuTriggerFor]="profile" title="Go to profile and sign out">
        <mat-icon class="posRel">portrait
            <mat-icon *ngIf="passwordToExpire" class="colorClass alertSize">notification_important</mat-icon>
        </mat-icon>
    </button>
    <mat-menu #profile="matMenu">

        <button mat-menu-item (click)="changePassword()" id="changePassword">
            <mat-icon color="accent">lock_open</mat-icon>
            <span class="posRel" [ngClass]="{'colorClass': passwordToExpire}">{{ 'Change password' }}</span>
        </button>

        <button mat-menu-item (click)="onLoggedOut()" id="logout">
            <mat-icon color="accent">exit_to_app</mat-icon>
            <span>{{ 'Sign out'}}</span>
        </button>
        
    </mat-menu>

    
   
</mat-toolbar>